# This is Git's per-user configuration file.
[user]
    name = Atlanswer
    email = atlanswer@gmail.com
    signingkey = ~/.ssh/id_ed25519.pub
[core]
    autocrlf = input
    fscache = true
    symlinks = true
    fsmonitor = true
    editor = nvim
[color]
    ui = true
[pull]
    rebase = false
    ff = only
[fetch]
    rebase = false
    ff = only
    prune = true
[push]
    autoSetupRemote = true
[rerere]
    enabled = true
[gpg]
    format = ssh
[commit]
    gpgsign = true
[merge]
    gpgsign = true
[tag]
    gpgsign = true
[diff]
    external = difft

