[user]
    name = Atlanswer
    email = i@atlanswer.com
[init]
    defaultBranch = main
[core]
    autocrlf = input
    fscache = true
    symlinks = true
    fsmonitor = true
[color]
    ui = true
[pull]
    rebase = false
    ff = only
[fetch]
    showForcedUpdates = true
    rebase = false
    ff = only
    prune = true
[push]
    autoSetupRemote = true
[gpg]
    format = ssh
[gpg "ssh"]
    defaultKeyCommand = ssh-add -L
[commit]
    gpgsign = true
[merge]
    gpgsign = true
[tag]
    gpgsign = true
[diff]
    external = difft
[pager]
    difftool = true

